@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Varela+Round|Dosis:300,400';

// Fonts
$font-size-base: 14px;

$dosis: 'Dosis', sans-serif;
$open: 'Open Sans', sans-serif;
$varela: 'Varela Round', sans-serif;

// Colors
$base-grey: #666;
$extra-light-grey: #dfdfdf;
$light-grey: #999;
$medium-grey: #a0a0a0;
$dark-grey: #2e2e2e;
$border-grey: #959595;
$white: #dfdfdf;

