@font-face {
  font-family: 'portfolio';
  src:  url('fonts/portfolio.eot?ojvsyk');
  src:  url('fonts/portfolio.eot?ojvsyk#iefix') format('embedded-opentype'),
    url('fonts/portfolio.ttf?ojvsyk') format('truetype'),
    url('fonts/portfolio.woff?ojvsyk') format('woff'),
    url('fonts/portfolio.svg?ojvsyk#portfolio') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'portfolio' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e900";
}
.icon-printer:before {
  content: "\e901";
}
.icon-pdf:before {
  content: "\e902";
}
.icon-link:before {
  content: "\e903";
}

