<section class="page-section hero">
	<div class="container">
		<div class="hero-content">
			<header>
				<h1>Gary William<br /> Acers Junior</h1>
				
				<h4>web engineer</h4>
			</header>
		</div>
	</div>
</section>
