<section class="slide-out">
	<div class="slide-out-wrapper">
		<div class="slide-out-container">		
			<div class="slide-out-content">
				<header>
					<h5>GWA + j</h5>
				</header>

				{{!-- <article class="web-site-project">
					<header>
						<h3>Website</h3>
					</header>

					<section class="site-content">
						<div class="site-info">
							<div class="slide-out-section-title">
								<h6>Overview</h6>
							</div>

							<div class="slide-out-section-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

								<ul class="technology-list">
									<li>HTML 5</li>
									<li>Compass</li>
									<li>Javascript</li>
									<li>Harp.js</li>
									<li>EJS</li>
								</ul>
							</div>
						</div>

						<ul class="screenshots-list">
							<li>
								<img alt="" src="images/web-sample.jpg" />
							</li>

							<li>
								<img alt="" src="images/web-sample.jpg" />
							</li>

							<li>
								<img alt="" src="images/web-sample.jpg" />
							</li>

							<li>
								<img alt="" src="images/web-sample.jpg" />
							</li>
						</ul>
					</section>
				</article> --}}

				<article class="resume">
					<header>
						<h3>Resume</h3>
					</header>

					<section class="site-content">
						<div class="site-info">
							<div class="contact-info">
								<ul>
									<li>
										<a href="mailto:gary.acers@gmail.com">gary.acers@gmail.com</a>
									</li>

									<li>610-742-2364</li>

									<li>Brooklyn, NY</li>
								</ul>
							</div>

							<ul class="resume-info">
								<li class="resume-section profile">
									<div class="slide-out-section-title">
										<h6>Profile</h6>
									</div>

									<div class="slide-out-section-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</li>

								<li class="resume-section experience">
									<div class="slide-out-section-title">
										<h6>Experience</h6>
									</div>

									<div class="slide-out-section-content">
										<ul class="resume-section-sub">
											<li class="resume-section-sub-item">
												<ul class="resume-section-info">
													<li><strong>Huge</strong></li>
													<li>Web Engineer</li>
													<li>Oct. 2013 - Present</li>
												</ul>

												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

												<ul class="resume-section-sub-details">
													<li>Kohls</li>
													<li>HP</li>
													<li>Morgan Stanley</li>
													<li>PayU</li>
													<li>Comcast</li>
													<li>Gucci</li>
													<li>MassMutual</li>
												</ul>
											</li>

											<li class="resume-section-sub-item">
												<ul class="resume-section-info">
													<li><strong>Free People</strong></li>
													<li>Front End Developer</li>
													<li>Jan. 2013 - Oct. 2013</li>
												</ul>

												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
											</li>

											<li class="resume-section-sub-item">
												<ul class="resume-section-info">
													<li><strong>Sides Media</strong></li>
													<li>Front End Developer</li>
													<li>Jun. 2011 - Jan. 2013</li>
												</ul>

												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

												<ul class="resume-section-sub-details">
													<li>Clear Revolution</li>
													<li>Special Olympics</li>
													<li>ACOS</li>
													<li>Sucampo</li>
													<li>Medflow</li>
												</ul>
											</li>

											<li class="resume-section-sub-item">
												<ul class="resume-section-info">
													<li><strong>Bresslergroup</strong></li>
													<li>Intern</li>
													<li>Jan. 2011 - Jun. 2011</li>
												</ul>

												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
											</li>
										</ul>
									</div>
								</li>

								<li class="resume-section education">
									<div class="slide-out-section-title">
										<h6>Education</h6>
									</div>

									<div class="slide-out-section-content">
										<ul class="resume-section-sub">
											<li class="resume-section-sub-item">
												<ul class="resume-section-info">
													<li><strong>NYU Tandon School of Engineering</strong></li>
													<li>MS Integrated Digital Media</li>
													<li>2008-2011</li>
												</ul>

												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
											</li>

											<li class="resume-section-sub-item">
												<ul class="resume-section-info">
													<li><strong>Temple University</strong></li>
													<li>BA Mass Media</li>
													<li>2006 - 2008</li>
												</ul>

												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
											</li>
										</ul>
									</div>
								</li>

								<li class="resume-section expertise">
									<div class="slide-out-section-title">
										<h6>Expertise</h6>
									</div>

									<div class="slide-out-section-content">
										<ul class="resume-section-sub">
											<li class="resume-section-sub-item">
												<p class="resume-section-info"><strong>Languages / Libraries / CMS</strong></p>

												<ul class="resume-section-sub-details">
													<li>HTML5</li>
													<li>CSS3</li>
													<li>Javascript</li>
													<li>PHP</li>
													<li>EJS</li>
													<li>Wordpress</li>
													<li>Node.js</li>
													<li>Express.js</li>
													<li>Harp.js</li>
													<li>Jade</li>
													<li>SASS</li>
													<li>LESS</li>
													<li>jQuery</li>
												</ul>
											</li>

											<li class="resume-section-sub-item">
												<p class="resume-section-info"><strong>Tools</strong></p>

												<ul class="resume-section-sub-details">
													<li>SublimeText 3</li>
													<li>Adobe Creative Suite</li>
													<li>Github</li>
													<li>Stash</li>
													<li>Jira</li>
													<li>Max/MSP</li>
												</ul>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>

						{{!-- <ul class="screenshots-list">
							<li>
								<img alt="" src="images/web-sample.jpg" />
							</li>

							<li>
								<img alt="" src="images/web-sample.jpg" />
							</li>

							<li>
								<img alt="" src="images/web-sample.jpg" />
							</li>

							<li>
								<img alt="" src="images/web-sample.jpg" />
							</li>
						</ul> --}}
					</section>
				</article>
			</div>

			<div class="toolbar">
				<div class="toolbar-wrapper">
					<div class="toolbar-front">
						<button class="close-slide-out"></button>

						<a class="link" href="#"></a>
					</div>

					<div class="toolbar-back"></div>
				</div>
			</div>
		</div>
	</div>
</section>
