<section class="page-section web-section">
	<article class="web-site gucci">
		<div class="web-site-wrapper">
			<div class="website-screenshot">
				<img src="/images/gucci.jpg" alt="" />
			</div>

			<div class="web-site-content-block">
				<div class="web-site-container">
					<div class="web-site-content">
						<div>
							<header>
								<h3>Gucci</h3>
							</header>

							<a class="link" href="http://gucci.com" target="_blank">Gucci</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>

	<article class="web-site morgan-stanley">
		<div class="web-site-wrapper">
			<div class="website-screenshot">
				<img src="/images/morganstanley.jpg" alt="" />
			</div>

			<div class="web-site-content-block">
				<div class="web-site-container">
					<div class="web-site-content">
						<div>
							<header>
								<h3>Morgan Stanley</h3>
							</header>

							<a class="link" href="http://morganstanley.com" target="_blank">Morgan Stanley</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>

	<article class="web-site payu">
		<div class="web-site-wrapper">
			<div class="website-screenshot">
				<img src="/images/payu.jpg" alt="" />
			</div>

			<div class="web-site-content-block">
				<div class="web-site-container">
					<div class="web-site-content">
						<div>
							<header>
								<h3>PayU</h3>
							</header>

							<a class="link" href="http://payu.com" target="_blank">PayU</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>

	<article class="web-site massmutual">
		<div class="web-site-wrapper">
			<div class="website-screenshot">
				<img src="/images/massmutual.jpg" alt="" />
			</div>

			<div class="web-site-content-block">
				<div class="web-site-container">
					<div class="web-site-content">
						<div>
							<header>
								<h3>MassMutual</h3>
							</header>

							<a class="link" href="http://massmutual.com" target="_blank">Mass Mutual</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>
