.contact-section {
	background-color: $base-grey;

	header {
		padding-bottom: 4px;

		&:before {
			bottom: 0;
			left: 53px;
		}
	}

	h3,
	p {
		color: #fff;
	}

	p {
		display: inline-block;
	}

	a {
		@include open-light;
		@include fontSize(18px);
		border: 1px solid #fff;
		color: #fff;
		display: inline-block;
		margin-top: 20px;
		padding: 16px 45px;
		text-decoration: none;
		transition: all linear 0.25s;

		&:hover { 
			background-color: #fff;
			color: $base-grey;
		}
	}
}

.contact-container {
	@include grid-row;
	justify-content: center;
}

.contact-content {
	@include column(6);

	div {
		margin: 20px auto 0;
		max-width: 500px;
		text-align: center;
	}

	p {

	}
}

@include breakpoint(medium) {
	.contact-section {
		header {
			padding-bottom: 6px;
		}
	}

	.contact-container {
		@include grid-row;
		justify-content: flex-start;
	}

	.contact-content {
		@include grid-row;
		@include column(5);
		justify-content: flex-end;
		padding: {
			left: #{(1 / 12) * 100 + '%'};
			right: #{(1 / 24) * 100 + '%'};
		};

		div {
			@include column(5);
			margin: {
				left: 0;
				right: 0;
			};
		}
	}
}

@include breakpoint(large) {
	.contact-container {
		justify-content: center;
	}

	.contact-content {
		@include column(4);
		justify-content: center;
		padding: 0;

		div {
			@include column(4);
			max-width: 580px;
		}
	}
}
